#menu{
    display: none;
}
nav{
    display: block;
}
.comp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}
.comp a{
    background-color: rgba(250, 128, 114, 0);
}
    .comp a:hover{
        transform: scale(1.05);
        background-color: rgba(250, 128, 114, 0);
    }