@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #0d0019;
    /*height: 100%;*/  
}

p{
    text-align: justify;
}

body{
    background-color: #dccfe5;
}
 main{
     background-color: #fbf7ff;
     width: 640px;
     padding: 24px;
     margin: auto;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.123);

 }