@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

body{
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1400px;
    margin: auto;
    height: 100px;
    padding: 48px 0px;
}

.nav-logo h1{
    font-family: 'Lobster', 'cursive';
    font-size: 34px;
    color: #180f4a;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 80px;
}

.nav-menu a{
    text-decoration: none;
    color: #180f4a;
    font-size: 20px;
    padding: 12px 20px;
}

.nav-menu a:hover{
    transition: .25s;
    border-top: 4px solid #180f4a;
    color: #ff2978;
}
#btn{
    background-color: #180f4a;
    color: white;
    border-radius: 8px;
}

#btn:hover{
    border-top: none;
    background-color: #ff2978;
}

header{
    height: 700px;
}

#content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    max-width: 1400px;
    height: 100%;
    margin: auto;
}

#headline{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#headline h2{
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 12px;
    color: #180f4a;
    margin-bottom: 0px;
}
#headline h1{
    font-size: 80px;
    font-weight: 800;
    color: #180f4a;
    margin:0px;
}

a button{
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #ff2978;
    font-size: 1.1em;
    color: aliceblue;
    border: none;
}

a button:hover{
    transition: .2s;
    background-color: #180f4a;
}

section{
    margin: 130px auto;
    max-width: 1400px;
}

section h2{
    font-family: 'Lobster', 'cursive';
    font-size: 48px;
    color: #180f4a;
}

#card-section{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    width: 100%;
    border: 1px solid #180f4a;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px;
    height: 350px;
    width: 30%;
    border: 1px solid #180f4a;

    text-align: center;
}

.card h3{
    font-size: 24px;
}

.card:hover{
    background-color: #ff2978;
    color: aliceblue;
}

.card:hover .main-card{
    display: none;
}

.card:hover .oculto{
    display: block;
}

.oculto{
    display: none;
}